---
layout: base.njk
eleventyComputed:
  title: "#{{ tag }}"
pagination:
  data: collections
  size: 1
  alias: tag
  # Eleventy adds a few internal collections ("all"); skip them.
  filter: ['all']
permalink: "/tags/{{ tag | slugify }}/"
eleventyExcludeFromCollections: true
---
{% import "directory.njk" as dir %}

<header class="section">
  <h6 class="meta">Tag</h6>
  <h1>#{{ tag }}</h1>
</header>

<section class="section flush-top">
  {{ dir.rows(collections[tag], site.libraryPrefix) }}
</section>
